.certificate-wrapper {
  top: 0;
  left: 0;
  opacity: 0;           /* Invisible but still rendered */
  pointer-events: none; /* Not clickable */
  z-index: -1;  
}

.certificate-bg {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.certificate-content {
  position: absolute;
  top: 57%; /* adjust to align with blank space */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-family: "Times New Roman", serif;
}

.participant-name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #a90000;
    
  /* margin-bottom: 25px; */
}
/* 
.underline {
  display: inline-block;
  padding: 0 40px;
} */

.seminar-name {
  /* display: inline-block; */
  margin-top: 7%;
  font-weight: bold;
  font-size:1.5rem;
}

/* 📱 Responsive font scaling */
@media (max-width: 992px) {
  .participant-name {
    font-size: 1.6rem;
  }
  .seminar-name {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .participant-name {
    font-size: 1.4rem;
  }
  .seminar-name {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
    .certificate-content {
        top:58%;
    }
  .participant-name {
    font-size: 1rem;
  }
  .seminar-name {
    font-size: 0.9rem;
    margin-top: 7%; 
  }
}

@media (max-width: 476px) {
    .certificate-content {
        top:60%;
    }
  .participant-name {
    font-size: 0.7rem;
  }
  .seminar-name {
    font-size: 0.7rem;
    margin-top: 5%; 
  }
}
.certificate-bg {
  pointer-events: none; /* prevents right click & drag */
}
.no-download-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: transparent;
  pointer-events: all;
}
