.events-section {
 background :url(white.png) ;
    background-position: 'center';
    background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 70vh;
}
.nav-link ,.nav-link:hover{ 
  color: #474444;
  /* outline:1px solid rgb(204, 201, 201); */
}
.nav-pills .nav-link.active {
  background-color: var(--bgcolor);
}
 .events-section .card-img-top {
  object-fit: contain;
  height: 300px;
  /* max-heigh  t: 300px; */
  width: 100%;
}
.title{
  font-style: italic;
  font-weight: bold;
}
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
